
<!--<h4>{{ title }}</h4>
<br>-->

<!-- menu -->

<nav class="navbar navbar-expand-lg fixed-top navbar-light" id="nav" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
<a class="navbar-brand" href="index.html"><img src="../assets/img/logo.png" id="logo_menu"></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     
	<li class="nav-item">
	    <a class="nav-link" href="izagro.html" style="text-transform: uppercase; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 0.857142857142857em; line-height: 2.166666666666667em; font-weight: 600; letter-spacing: .5px; opacity: .5;">IZagro</a>
	</li>
	<li class="nav-item">
	        <a class="nav-link" href="distribuidor.html" style="text-transform: uppercase; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 0.857142857142857em; line-height: 2.166666666666667em; font-weight: 600; letter-spacing: .5px; opacity: .5;">Distribuidor <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="produtor.html" style="text-transform: uppercase; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 0.857142857142857em; line-height: 2.166666666666667em; font-weight: 600; letter-spacing: .5px; opacity: .5;">Produtor</a>
	      </li>
	<li class="nav-item">
	        <a class="nav-link" href="agronomo.html" style="text-transform: uppercase; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 0.857142857142857em; line-height: 2.166666666666667em; font-weight: 600; letter-spacing: .5px; opacity: .5;">Agrônomo</a>
	      </li>
	<li class="nav-item">
	        <a class="nav-link" href="contato.html" style="text-transform: uppercase; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 0.857142857142857em; line-height: 2.166666666666667em; font-weight: 600; letter-spacing: .5px; opacity: .5;">Contato</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="http://distribuidor.izagro.com.br/" style="text-transform: uppercase; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 0.857142857142857em; line-height: 2.166666666666667em; font-weight: 600; letter-spacing: .5px; opacity: .5;">Log in</a>
	      </li>
	    </ul>
		<ul class="navbar-nav form-inline my-2 my-lg-0">
		<li class="nav-item">
	      	<div class="wrapper">
		      	<img src="https://icon-icons.com/icons2/773/PNG/512/shopping-bag_icon-icons.com_64600.png" style="width: 38px;">
		      	<p id="numero_sacola_orcamentos" style="background-color: red; border-radius: 150px; color: white; width: 19px; font-size: 12px; font-weight: bold; text-align: center; position: absolute; margin-top: -10px; ">1</p>
		</div>
		</li>
		</ul>
</div>
</nav>
	
<!-- menu -->

<!-- header -->

<!-- carrousel -->

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="width: 100%; margin-top: 86px; height: 500px;">
	  <ol class="carousel-indicators">
	    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
	    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
	    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	  </ol>
	  <div class="carousel-inner">
	    <div class="carousel-item active" style="height: 500px;">
	      	<video autoplay muted loop style="position: relative; min-height: 100%; min-width: 100%; height: auto; width: 100%; z-index: -100; background-size: cover; object-fit: cover;">
			  <source src="../assets/video/2.mp4" type="video/mp4">
			  <source src="../assets/video/2.ogg" type="video/ogg">
			  Seu navegador não suporta.
			</video>
	      <div class="carousel-caption d-none d-md-block">
		    <h5>A informação na sua mão</h5>
		    <p>Aplicativo e Site</p>
		  </div>
	    </div>
	    <div class="carousel-item">
	      <img class="d-block w-100" src="../assets/img/banner/1.jpg" alt="Second slide" style="height: 500px; background-size: cover !important; background-position: 50% 50% !important; object-fit: cover;">
	      <div class="carousel-caption d-none d-md-block">
		    <h5>A informação na sua mão</h5>
		    <p>Aplicativo e Site</p>
		  </div>
	    </div>
	    <div class="carousel-item">
	      <img class="d-block w-100" src="../assets/img/banner/1.jpg" alt="Third slide" style="height: 500px; background-size: cover !important; background-position: 50% 50% !important; object-fit: cover;">
	      <div class="carousel-caption d-none d-md-block">
		    <h5>A informação na sua mão</h5>
		    <p>Aplicativo e Site</p>
		  </div>
	    </div>
	  </div>
	</div>

<!-- header -->

<!-- section conteudo -->

<section id="conteudo">

	<div class="container">
	    <div class="row">
	    	<div class="col-md-12">
			<button id="botao_selecao" class="btn" data-toggle="modal" data-target="#modal_produto">Solicite um orçamento respondendo o questionário!</button>
		</div>
	    </div>
	</div>

	<!-- modal produto -->

				<div class="modal fade" id="modal_produto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog modal-lg" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLabel">Orçamento - Questionário</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				            
				        <div class="col-md-12">
				      		O que deseja fazer? Como podemos ajudar?<br>
				      		<div class="col" style="margin-left: 5px;">
							    <input type="checkbox" class="form-check-input" id="exampleCheck1">
							    <label class="form-check-label" for="exampleCheck1">Plantar</label>
							</div>
							<div class="col" style="margin-left: 5px;">
							    <input type="checkbox" class="form-check-input" id="exampleCheck1">
							    <label class="form-check-label" for="exampleCheck1">Pulverizar</label>
							</div>
							<div class="col" style="margin-left: 5px;">
							    <input type="checkbox" class="form-check-input" id="exampleCheck1">
							    <label class="form-check-label" for="exampleCheck1">Adubar</label>
							</div>
				      	</div>
				      	<br>
				      	<div class="col-md-12">
				      		Qual cultura?<br>
				      		<input type="text" name="cultura_aplicacao" class="form-control" placeholder="Ex: Café">
				      	</div>
				      	<br>
				      	<div class="col-md-12">
				      		Qual a área aproximada de aplicação?<br>
				      		<input type="text" name="area_aplicacao" class="form-control" placeholder="Ex: 100 hectares">
				      	</div>
				      	<br>
				      	<div class="col-md-12">
				      		Como podemos ajudar?<br>
				      		<textarea rows="6" class="form-control" placeholder="Ex: Tenho lagartas em meu milho. Quero sugestão de controle."></textarea>
				      	</div>

					      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="cursor: pointer;">Cancelar</button>
				        <button type="button" class="btn btn-primary" style="cursor: pointer;">Solicitar orçamento</button>
				      </div>
				    </div>
				  </div>
				</div>

				<!-- modal produto -->

		<h5 id="h5_t">Ou selecione um produto específico:</h5>

	<div class="container">

	<div id="cultura">

	    <h5 id="h5_t">1 - Qual a cultura?</h5>

	<div class="row">
	    		<div class="col">
		    		<!--<div class="card" style="width: 18rem; border: none;">-->
		    		<div class="card" style="border: none;">
					  <img id="img_destaque_cultura" class="card-img-top rounded-circle" src="../assets/img/culturas/Algodão.jpeg" alt="Herbicida" style="width: 150px; height: 150px;">
					  <div class="card-body">
					    <h5 class="card-title" style="text-align: center;">Algodão</h5>
					  </div>
					</div>
		    	</div>
			<div class="col">
		    		<div class="card" style="border: none;">
					  <img id="img_destaque_cultura" class="card-img-top rounded-circle" src="../assets/img/culturas/Café.jpg" alt="Inseticida" style="width: 150px; height: 150px;">
					  <div class="card-body">
					    <h5 class="card-title" style="text-align: center;">Café</h5>
					  </div>
					</div>
		    	</div>
		    	<div class="col">
		    		<div class="card" style="border: none;">
					  <img id="img_destaque_cultura" class="card-img-top rounded-circle" src="../assets/img/culturas/Uva.jpeg" style="width: 150px; height: 150px;">
					  <div class="card-body">
					    <h5 class="card-title" style="text-align: center;">Uva</h5>
					  </div>
					</div>
		    	</div>
		    	<div class="col">
		    		<div class="card" style="border: none;">
					  <img id="img_destaque_cultura" class="card-img-top rounded-circle" src="../assets/img/culturas/Amendoim.jpg" alt="Fertilizante" style="width: 150px; height: 150px;">
					  <div class="card-body">
					    <h5 class="card-title" style="text-align: center;">Amendoim</h5>
					  </div>
					</div>
		    	</div>
		    	<div class="col">
		    		<div class="card" style="border: none;">
					  <img id="img_destaque_cultura" class="card-img-top rounded-circle" src="../assets/img/culturas/Batata.jpg" alt="Semente" style="width: 150px; height: 150px;">
					  <div class="card-body">
					    <h5 class="card-title" style="text-align: center;">Batata</h5>
					  </div>
					</div>
		    	</div>	
		</div> <!-- row -->

		<div class="row">
	    		<div class="col">
		    		<!--<div class="card" style="width: 18rem; border: none;">-->
		    		<div class="card" style="border: none;">
					  <img id="img_destaque_cultura" class="card-img-top rounded-circle" src="../assets/img/culturas/Cana-de-açúcar.jpg" alt="Herbicida" style="width: 150px; height: 150px;">
					  <div class="card-body">
					    <h5 class="card-title" style="text-align: center;">Cana-de-açucar</h5>
					  </div>
					</div>
		    	</div>
		    	<div class="col">
		    		<div class="card" style="border: none;">
					  <img id="img_destaque_cultura" class="card-img-top rounded-circle" src="../assets/img/culturas/Citros.jpg" alt="Inseticida" style="width: 150px; height: 150px;">
					  <div class="card-body">
					    <h5 class="card-title" style="text-align: center;">Citros</h5>
					  </div>
					</div>
		    	</div>
		    	<div class="col">
		    		<div class="card" style="border: none;">
					  <img id="img_destaque_cultura" class="card-img-top rounded-circle" src="../assets/img/culturas/Feijao.jpeg" alt="Fungicida" style="width: 150px; height: 150px;">
					  <div class="card-body">
					    <h5 class="card-title" style="text-align: center;">Feijão</h5>
					  </div>
					</div>
		    	</div>
		    	<div class="col">
		    		<div class="card" style="border: none;">
					  <img id="img_destaque_cultura" class="card-img-top rounded-circle" src="../assets/img/culturas/Milho.jpeg" alt="Fertilizante" style="width: 150px; height: 150px;">
					  <div class="card-body">
					    <h5 class="card-title" style="text-align: center;">Milho</h5>
					  </div>
					</div>
		    	</div>
		    	<div class="col">
		    		<div class="card" style="border: none;">
					  <img id="img_destaque_cultura" class="card-img-top rounded-circle" src="../assets/img/culturas/Pastagens.jpeg" alt="Semente" style="width: 150px; height: 150px;">
					  <div class="card-body">
					    <h5 class="card-title" style="text-align: center;">Pastagens</h5>
					  </div>
					</div>
		    	</div>
	    	</div>

	    	<div class="row">
	    		<div class="col">
		    		<!--<div class="card" style="width: 18rem; border: none;">-->
		    		<div class="card" style="border: none;">
					  <img id="img_destaque_cultura" class="card-img-top rounded-circle" src="../assets/img/culturas/Soja.jpg" alt="Herbicida" style="width: 150px; height: 150px;">
					  <div class="card-body">
					    <h5 class="card-title" style="text-align: center;">Soja</h5>
					  </div>
					</div>
		    	</div>
		    	<div class="col">
		    		<div class="card" style="border: none;">
					  <img id="img_destaque_cultura" class="card-img-top rounded-circle" src="../assets/img/culturas/Tomate.jpeg" alt="Inseticida" style="width: 150px; height: 150px;">
					  <div class="card-body">
					    <h5 class="card-title" style="text-align: center;">Tomate</h5>
					  </div>
					</div>
		    	</div>
		    	<div class="col">
		    		<div class="card" style="border: none;">
					  <img id="img_destaque_cultura" class="card-img-top rounded-circle" src="../assets/img/culturas/Trigo.jpg" alt="Fungicida" style="width: 150px; height: 150px;">
					  <div class="card-body">
					    <h5 class="card-title" style="text-align: center;">Trigo</h5>
					  </div>
					</div>
		    	</div>

		    	<div class="col"></div>
		    	<div class="col"></div>
	    	</div> <!-- row -->

	</div> <!-- id cultura -->

	</div> <!-- container ->

	</section>

<!-- section conteudo -->

<!-- section footer -->

    <section id="footer">

    <div class="container">
    	<div class="row">
	    	<div class="col">
	    		<br>
	    		<p style="font-size: 15px; text-align: left;">PRODUTORES</p>
	    		<p style="text-align: left; font-size: 15px; margin-top: -60px;">Fazendas</p>
	    		<p style="text-align: left; font-size: 15px; margin-top: -60px;">Orçamentos</p>
	    		<p style="text-align: left; font-size: 15px; margin-top: -60px;">Suporte</p>
	    	</div>
	    	<div class="col">
	    		<br>
	    		<p style="font-size: 15px; text-align: left;">DISTRIBUIDORES</p>
	    		<p style="text-align: left; font-size: 15px; margin-top: -60px;">Produtos</p>
	    		<p style="text-align: left; font-size: 15px; margin-top: -60px;">Orçamentos</p>
	    		<p style="text-align: left; font-size: 15px; margin-top: -60px;">Suporte</p>
	    	</div>
	    	<div class="col">
	    		<br>
	    		<p style="font-size: 15px; text-align: left;">AGRÔNOMO</p>
	    		<p style="text-align: left; font-size: 15px; margin-top: -60px;">Receituário</p>
	    		<p style="text-align: left; font-size: 15px; margin-top: -60px;">Suporte</p>
	    	</div>
	    	<div class="col">
	    		<br>
	    		<p style="font-size: 15px; text-align: left;">IZagro</p>
	    		<p style="text-align: left; font-size: 15px; margin-top: -60px;">Blog</p>
	    		<p style="text-align: left; font-size: 15px; margin-top: -60px;">Sobre</p>
	    		<p style="text-align: left; font-size: 15px; margin-top: -60px;">Contato</p>
	    		<p style="text-align: left; font-size: 15px; margin-top: -60px;">Na mídia</p>
	    	</div>
    	</div>
	    <div class="row">
	    	<div class="col-9">
	    		<p style="font-size: 15px; text-align: left;">Copyright © IZagro 2018 - Todos Direitos Reservados</p>
	    	</div>
	    	<div class="col-3">
	    		<a href="https://www.facebook.com/IZagro-856295017849394" target="_blank"><img src="http://www.jonodoiron.com/upload/485459/images/instagram.png" style="width: 60px; margin-top: 10px;"></a>
		    	<a href="https://www.instagram.com/izagroapp/"><img src="https://blog.addthiscdn.com/wp-content/uploads/2015/11/logo-facebook.png" style="width: 68px; margin-top: 10px;"></a>
	    	</div>
	    </div>
    </div>
    </section>

    <!-- section footer -->
