#conteudo #h5_t{
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	color: #0c6e45;
}	
#img_destaque_cultura{
	margin-left: 9%;
}
#img_destaque_cultura:hover{
	box-shadow: 5px 10px 8px #888888;
	transition: 0.5s;
	transform: scale(1.1);
	cursor: pointer;
}
#footer{
	background-color: #0c6e45;
	height: auto;
	margin-bottom: 0px;
}
#footer p{
	font-size: 17px;
	text-align: center;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
}	
#logo_menu{
	width: 60px;
}		
#nav{
	background-color: white;
}
#botao_selecao{
	margin-top: 40px;
	margin-left: 30%;
	border-radius: 50px;
	background-color: white;
	border-color: #0c6e45;
	color: #0c6e45;
	cursor: pointer;
}
#botao_selecao:hover{
	margin-left: 30%;
	border-radius: 50px;
	background-color: #0c6e45;
	border-color: white;
	color: white;
	cursor: pointer;
}
#botao_selecao:active{
	margin-left: 30%;
	border-radius: 50px;
	background-color: #0c6e45;
	border-color: white;
	color: white;
	cursor: pointer;
}